@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue; 
  padding: 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn{
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.btn:active{
  transform: scale(0.98);
}

.btn-block{
  display: block;
  width: 100%;
}

.checkbox{
  display: flex;
  align-items: center;
}

.checkbox input{
  margin-right: 1rem;
}

.task{
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.task.reminder{
  border-left: 5px solid green;
}

.task h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form{
  margin-bottom: 40px;
}

.form-control{
  margin: 20px 0;
}

.form-control label{
  display: block;
}


.form-control input[type = "text"]{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}


.form-control-check label{
  flex: 1;
}

.form-control-check input{
  flex: 2;
  height: 20px;
}

footer{
  margin: 30px;
  text-align: center;
}

.empty{
  color: rgba(139, 136, 136, 0.5);
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}